body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.video-container {
    position: relative;
    width: 600px; /* Adjust video width as needed */
    height: auto;
}

video {
    width: 50%;
    height: 50%;
    object-fit: contain;
}
